<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Assistan Teacher</h1>
            <span><address>Air University, PAK</address><time>2016</time></span>
        </header>
        <p>
            Conducted,crafted and checked Computer Labs for course work of C++
        </p>
    </article>
    <article>
        <header>
            <h1>Volunteer worker in Lions International Club</h1>
            <span><address>Islamabad, PAK</address><time>2016</time></span>
        </header>
        <p>
            ran awareness campaigns on different social issues and community development.
        </p>
    </article>
</section>